/*General*/
*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link{
    color: #F9F7F7;
}

a:visited{
    color: #F9F7F7;
}

body{
    background-color: #F9F7F7;
}

html{
    scroll-behavior: smooth;
}

/*Nav*/

#home{
    background-color: #112D4E;
}

/*Header*/

.container-h{
    position: relative;
}

.img-text{
    position: absolute;
    top:50%;
    left:10%
}
.top-title{
    top:43%;
}

.header-img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    margin-bottom: 10px;
}

/*Body*/

    /*General -- Font and Img Styling*/
    .title{
    margin-top: 1%;
    text-align: center;
    color: #112D4E;
    }

    .profile-img{
        border-radius: 10px;
    }
    .bold-text{
        font-weight: bolder;
        color: #112D4E;
    }

    .sub-bold-text{
        font-weight: bold;
    }

    .box{
        background-color: #DBE2EF;
        border-radius: 10px;
    }

    span{
        color: #3F72AF;
    }

    .brand-text{
        padding-left: 20px;
    }

    .header-text{
        color: #F9F7F7;
    }

    ul{
        list-style-position: inside;
        padding-left: 0;
    }

    /*Work Experience*/
    .grid-container{
        display: grid;
        grid-template-columns: 1fr 0.1fr 1fr;
        justify-items: center;
        align-items: center;
    }

    /*Education*/

    /*Projects*/
    .project-tag{
        text-align: center;
    }

    .project-container{
        display: flex;
        justify-content: center;
    }

    .project-description{
        text-align: center;
    }

/*Footer*/


@media (max-width: 800px){
    .img-text{
        font-size: small;
    }

    .grid-container{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}